/* ---------- Main container ---------- */
#map_results_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vh;
    position: fixed;
    background-color: #22B14C;
    z-index: 10000;
}

/* ---------- Search container ---------- */
#search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

#search_field {
    width: 38vh;
    height: 3vh;
    border-radius: 1vh;
    padding: 0.5vh;
    padding-left: 1vh;
    background-color: white;
    color: black;
    font-size: 2vh;
    border: none;
}

/* ---------- Plants container ---------- */
#plants_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    height: 90vh;
    width: 100%;
    overflow: auto;
}